---
layout: page
title: App Store
permalink: /appstore/
permalink_en:   /en/appstore/

---

<h4>Language: </h4>
{{ site.lang }} <br/>
<br/>
<h4>App name: </h4>
{% t name %} <br/>
<br/>
<h4>App subtitle: </h4>
{% t subtitle %} <br/>
<br/>
<h4>App promotional Text: </h4>
{% t promotional_text %} <br/>

<h4>What's new: </h4>
{% t whatsnew %} <br/>


<br/><br/><br/><br/>
{% for item in site.translations[site.lang] %}
    {{ item[0] }}:
    {{ item[1] }}<br/>
{% endfor %}