---
layout: page
title: App names
permalink: /appnames/

---

<table>




{% for item in site.languages %}
<tr>
    <td>{{ item }}:</td>
    {% for item in site.translations[item]["name"] %}
    <td> {{ item }}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>
